.moods,
.upload-image {
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

.mood > button {
  border-radius: 50%;
  border: none;
  padding: 10px;
}

.mood > button:hover {
  cursor: pointer;
}

/* .checkin-card{
 
} */

/*! before check in --grayed out*/
.grey-img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.color-img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}

.upload-image {
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

#input-image {
  width: 100%;
  height: 35px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

input[type="file" i] {
  /* background-color: red; */
}

.upload-image-button {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  color: lightgray;
  background-color: rgba(120, 197, 97, 0.682);
}

.checkIn-images-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* width: 100vw; */
  /* height: 100vw; */
}

.delete-image{
  /* the container of the delete button and image, set to relative*/
  position: relative;
}

.delete-image > button {
  /* the delete button set to absolute */
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right:0px;
}

.delete-image > button:hover {
  cursor: pointer;
}

.checkIn-images-container > img {
  width: 300px;
  height: 300px;
  /* object-fit: cover; */
  border-radius: 20px;
}

.checkIn-image {
  margin-bottom: 20px;
}

.center-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.go-calendar > a:-webkit-any-link {
  text-decoration: none;
  color: lightgray;
  background-color: rgba(120, 197, 97, 0.682);
  border-radius: 20px;
  padding: 15px 30px;
}

.go-calendar:hover {
  cursor: pointer;
}
