.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.landing-page > img {
  margin-top: 50px;
}

.go-add-task {
  margin-right: 20px;
  margin-top: 50px;
  color: lightgray;
}

.go-add-task > a:-webkit-any-link {
  text-decoration: none;
  color: lightgray;
  background-color: rgba(120, 197, 97, 0.682);
  border-radius: 20px;
  padding: 15px 30px;
}

.go-add-task:hover {
  cursor: pointer;
}

.react-calendar {
  /* width: 950px; */
  /* height: ; */
  box-sizing: border-box;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
}

.react-calendar__navigation {
  display: flex;

  .react-calendar__navigation__label {
    font-weight: bold;
  }

  .react-calendar__navigation__next2-button,
  .react-calendar__navigation__prev2-button {
    display: none;
    /* hide the prev and next year on navigation */
  }

  .react-calendar__navigation__arrow {
    flex-grow: 0.333;
  }
}

.react-calendar__month-view__weekdays {
  text-align: center;
}

/* .react-calendar__month-view__days > button {
  margin: 3px;
  background-color: #6f876f;
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 5px 0;
}
&:hover {
  background-color: #556b55;
}

&:active {
  background-color: #a5c1a5;
} */

.react-calendar__month-view__days__day {
  /* days button */
  background-color: rgb(30, 30, 30);
  border: solid 5px rgb(lightgray);
  /* background-image: url("https://img.icons8.com/color/96/fat-emoji.png"); */
  height: 80px !important;
  width: 80px !important;
  aspect-ratio: 1;
  background-position: center;
  border-radius: 50%;
}

.react-calendar__month-view__days__day>abbr{
  /* days button text */
  color: lightgray;
}

.go-checkin > a:-webkit-any-link {
  text-decoration: none;
  color: lightgray;
  background-color: rgba(120, 197, 97, 0.682);
  border-radius: 20px;
  padding: 15px 30px;
}

.go-checkin:hover {
  cursor: pointer;
}
