.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.landing-page > img {
  margin-top: 50px;
}

.green-action-btn shine-hope-anim {
  margin-right: 20px;
  margin-top: 50px;
  color: lightgray;
}

.green-action-btn shine-hope-anim > a:-webkit-any-link {
  text-decoration: none;
  color: lightgray;
  background-color: rgba(120, 197, 97, 0.682);
  border-radius: 20px;
  padding: 15px 30px;
}

.green-action-btn shine-hope-anim:hover {
  cursor: pointer;
}
