/* official block/modal color */
/* rgb(50, 50, 50); */
/* official green: 
/* #abff2e9e; */

/* official font color::afterlightgray */
/* TODO Add site wide styles */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: xx-large;
  color: lightgray;
  margin: 0;
  background-color: rgb(30, 30, 30);
  padding: 20px;
  height: 100%;
}

.errors {
  color: tomato;
}

#root{
  min-height:100%;
  position:relative;
  padding-bottom: 500px;
  /*! to accommodate footer height around 400ish */
}

/* .center-children {
  text-align: center;
}

.center-self {
  display: block;
  margin: auto;
} */
