.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(195, 194, 194);
}

.flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo > a {
  text-decoration: none;
  color: hwb(84 18% 0% / 0.657);
}

.logo-text {
  display: inline;
  /* text-decoration: none; */
  color: hwb(84 18% 0% / 0.657);
  margin-left: 5px;
  font-size: 30px;
}

.profile-btn > button {
  border-radius: 30px;
  padding: 15px 15px;
  background-color: lightgray;
  margin-left: 30px;
  border: none;
}

.profile-btn>button:hover {
  cursor: pointer;
}

.manageTasks-profileBtn {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.manageTasks {
  margin-right: 20px;
  color: lightgray;
}

.manageTasks > a:-webkit-any-link {
  text-decoration: none;
  color: lightgray;
  background-color: #78c561ae;
  /* opacity: ; */
  border-radius: 20px;
  padding: 5px 15px;
}
