

.hidden {
  display: none;
}

.navigation {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(195, 194, 194);
}

.flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo > a {
  text-decoration: none;
  color: #abff2ea8;
}

.logo-text {
  display: inline;
  /* text-decoration: none; */
  color: #abff2ea8;
  margin-left: 5px;
  font-size: 30px;
}

.profile-btn > button {
  border-radius: 30px;
  padding: 15px 15px;
  background-color: lightgray;
  margin-left: 30px;
  border: none;
}

.profile-btn>button:hover {
  cursor: pointer;
}

.manageTasks-profileBtn {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.manageTasks {
  margin-right: 20px;
  color: lightgray;
}

.manageTasks > a:-webkit-any-link {
  text-decoration: none;
  color: lightgray;
  background-color: rgba(120, 197, 97, 0.682);
  /* opacity: ; */
  border-radius: 20px;
  padding: 5px 15px;
}

.profile-dropdown {
  position: absolute;
  list-style-type: none; 
  /* no bullet dots */
  background-color: rgb(50, 50, 50);
  padding: 20px;
  right: 20px;
  /* z-index: 1; */
  border-radius: 10px;
  border: 1px solid lightgray;
}


.log-out {
  background-color: #abff2e9e;
  color: lightgrey;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
  border: none;
  border-radius: 15px;
  margin-top: 5px;
  padding: 5px 20px;
}

.log-out:hover{
  cursor: pointer;
}

.login-signup-btns{
  display: flex;
  flex-direction: column;
}

.login-signup-btns>button{
  background-color: #abff2e9e;
  color: lightgrey;
  font-size: x-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
}

.login-signup-btns>button:hover{
  cursor: pointer;
}

.login-btn{
  margin-bottom: 20px;
}