#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content::-webkit-scrollbar{
  /* so the scroll bar of the modal is hidden, you wouldn't see the ugly scroll bar */
  display: none;
}

#modal-content {
  text-align: center;
  /* center children */
  width: 50vw;
  /* for icon select 50vw is better */
  position: absolute;
  background-color: rgb(30, 30, 30);
  padding: 20px;
  border: solid 1px lightgrey;
  border-radius: 20px;

  /* to scroll scroll, you need a height to make scroll work*/
  height: 50vh;
  overflow-y: scroll;
}

.modal-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.big-grey-btn {
  padding: 10px 20px;
  background-color: gray;
  color: lightgray;
  border-radius: 20px;
  margin-right: 50px;
}
.big-grey-btn:hover {
cursor: pointer;
}

.big-green-btn {
  padding: 10px 20px;
  background-color: #abff2e9e;
  color: lightgray;
  border-radius: 20px;
}

.big-green-btn:hover {
cursor: pointer;
}
