.react-calendar {
  width: 1/2vw;
  box-sizing: border-box;
  text-align: center;
  margin: 20px 0 50px 0;
}


.react-calendar__navigation {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 950px;
  /* margin-left: 80px; */
  margin-bottom: 50px;

  .react-calendar__navigation__label {
    font-weight: bold;
    font-size: xx-large;
    border-radius: 20px;
  }

  .react-calendar__navigation__arrow {
    border-radius: 20px;
    flex-grow: 0.333;
    font-size: xx-large;
  }

  .react-calendar__navigation__next2-button,
  .react-calendar__navigation__prev2-button {
    display: none;
  }
  
}

.react-calendar__month-view__weekdays {
  text-align: center;

}

/* .react-calendar__month-view__days {
  box-sizing: border-box;
  gap: 5px;
} */



.day-btn {
  color: lightgray;
  font-size: large;
  background-color: rgb(30, 30, 30);
  border: 1px solid #717171;
  border: none;
  flex-grow:0;
  padding: 30px 0;
  box-sizing: border-box;
  background-position: center;
  border-radius: 50%;
}

.day-btn:hover {
  box-shadow: 0px 0px 2px 2px lightgrey;
  transition: 0.1s ease-in;
  cursor: pointer;
}


.selected-date {
  color: lightgray;
font-size: large;
background-color: rgb(103, 199, 103); 
border: 1px solid #717171;
border: none;
flex-grow:0;
padding: 30px 0;
box-sizing: border-box;
background-position: center;
border-radius: 50%;
color: white; /* Optional: Change the text color for better visibility */
}

.mood-happy {
 background-image: url("https://img.icons8.com/color/96/fat-emoji.png");
}

.mood-meh {
 background-image: url("https://img.icons8.com/color/96/neutral-emoticon--v1.png");
}

.mood-sad {
 background-image: url("https://img.icons8.com/color/96/crying--v1.png");
}
